* {
    padding: 0;
    margin: 0;
}

body {
    background: url('../images/Agrabah.jpg') no-repeat top center;
    height: 100%;
    background-size: cover
}

.hello {
    width: 335px;
    height: 250px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -1125px 0 0 -167px;
    transition: 1s;
}

.hello .play {
    width: 70px;
    position: absolute;
    bottom: 45px;
    left: 50%;
    margin-left: -35px;
    text-align: center;
    border-bottom: 1px solid #904d2e;
    cursor: pointer;
}

.hello.active {
    margin-top: -125px;
}

.contentButtons {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -100px 0 0 -100px;
}

.contentButtons .button {
    width: calc(50% - 2px);
    height: calc(50% - 2px);
    float: left;
}

.contentButtons .button.amarelo {
    background: yellow;
    border-top-left-radius: 100%;
}

.contentButtons .button.vermelho {
    background: red;
    border-bottom-right-radius: 100%;
}

.contentButtons .button.azul {
    background: blue;
    border-bottom-left-radius: 100%;
}

.contentButtons .button.verde {
    background: green;
    border-top-right-radius: 100%;
}

.contentButtons .button.active {
    opacity: 0.6;
}