* {
    padding: 0;
    margin: 0;
}

body {
    /*background: url('../images/Agrabah.jpg') no-repeat top center;*/
    height: 100%;
    background-size: cover
}

.hello {
    width: 335px;
    height: 250px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -1125px 0 0 -167px;
    transition: 1s;
}

.hello .play {
    width: 70px;
    position: absolute;
    bottom: 45px;
    left: 50%;
    margin-left: -35px;
    text-align: center;
    border-bottom: 1px solid #904d2e;
    cursor: pointer;
}

.hello.active {
    margin-top: -125px;
}
